/*#columns {
  display: flex;
  align-items: flex-end;
  width: 1800px;
  background-color: #2b4c7e;
  padding: 30px 50px;
  justify-content: space-around;
}  */

#columns {
  display: none;
}

#footer {
  background-color: #2b4c7e;
  padding: 20px 10px;
}

/*#columns #columnone {
  display: flex;
  flex-direction: column;
}

#columnone #text {
  color: #fff;
}

#menurapido {
  display: block;
  text-align: left;
  width: 200px;
}

#menurapido #links {
  color: #ffffff00;
  padding: 10px 5px;
}

#menurapido #links ul li {
  padding: 2px 0;
}

#menurapido #links a {
  color: #fff;
  font-size: 18px;
}

#menurapido h2 {
  padding-bottom: 5px;
  color: #fff;
  letter-spacing: 2px;
  padding-left: 3px;
  text-transform: uppercase;
} */

#credits {
  text-align: center;
  padding: 12px 0;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
}
#credits a {
  color: #fff;
}
