:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: #1b1a1a;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
/*.max-width {
  max-width: 1800px;
  padding: 0 80px;
  margin: auto;
}*/

/*Edição da Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  background-color: #101014;
}
::-webkit-scrollbar-thumb {
  background-color: #0888d3;
  border-radius: 8px;
}
